*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #020b16;
    min-height: 150vh;
    overflow: hidden;

}

h1{
    text-transform: uppercase;
    position: absolute;
    color: azure;
    top: 0;
    margin-top: 30px; 
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {

    0%{
        filter: hue-rotate(0deg);
        transform: translateY(0px);
    }

    100%{
        filter: hue-rotate(360deg);
        transform: translateY(-10px);
    }
    
}
    


.home{
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: aqua;
    z-index: 2;
    animation: animate 4s ease-in-out infinite;
}




@keyframes animate {

    0%,100%{
        transform: translateX(300px);
        filter: hue-rotate(0deg)
    
    }

    50%{
        transform: translateX(-300px) ;
        filter: hue-rotate(360deg);
    }
    
}

.ball{
    width: 20px;
    height: 20px;
    position: relative;
    top: -20px;
    right: 50px;
    animation: catch 2s ease-in-out infinite;
    z-index: -1;
    animation-delay: 1s;
}

@keyframes catch {

    0%{
        transform: translateY(-5px);
        filter: hue-rotate(0deg);

    }
    50%{
        transform: translateY(-400px);
        filter: hue-rotate(180deg);
    }
    100%{
        transform: translateY(-5px);
        filter: hue-rotate(360deg);
    }


    
}

